
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>1</h3>
                <p>اطلاعات شخصی</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="index" asp-controller="PersonalInfo" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>1</h3>
                <p>اطلاعات تماس و درباره من</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-action="index" asp-controller="About" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>2</h3>

                <p>لیست ها</p>
            </div>
            <div class="icon">
                <i class="fa fa-object-group"></i>
            </div>
            <a asp-action="index" asp-controller="AbilityList" asp-area="Admin" class="small-box-footer">مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>1</h3>

                <p>رمز های ورود</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a asp-action="Index" asp-controller="Admins" class="small-box-footer"> مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>۱۵۰</h3>

                <p>پیام ها</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-controller="Message" asp-action="Index" class="small-box-footer"> مدیریت <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
