@model ResumeSite.Data.Entities.Ability

@{
    ViewData["Title"] = "افزودن زیر مجموعه";
}

<h2>افزودن زیر مجموعه</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAbility">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ListId" />
            <input type="hidden" asp-for="Id" value="0" />
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
